@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
.header-container{
    /* height:80px; */
    background-color: #ff1d58;
    color:#fafafa;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem;
    font-family: "Madimi One", sans-serif;
}
.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:0.6rem
}
.header-right{
  gap:1.5rem;
}